body {
  background: #e7e3ff;
}

a {
  color: #9679f4;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header section {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 /8%);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App-footer small {
  font-size: 15px;
}
